{{ 'section-accordion.css' | asset_url | stylesheet_tag }}
<script src="{{ 'accordion.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="accordion">
  <div class="page-width section-{{ section.id }}-padding{% if section.settings.secondary_background %} isolate{% endif %}">
    <div class="textbox">
            <h2 class=" heading inline-richtext {{ section.settings.heading_alignment }}">
              {{ section.settings.heading-title }}
            </h2>
    </div>

    {% for block in section.blocks %}
      {% if block.type == 'FAQ' %}
        <div class="accordion__list-item">
          
             <div class="question">
              <h3>{{ block.settings.title }}</h3>
              <div class="icon"><span></span></div>
            </div>

             <div class="answer">
              <div class="answer__content">
                 {{ block.settings.answer_content }}
              </div>
            </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
</section>

{% schema %}
{
  "name": "Accordion",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [{
    	"type": "text",
			"id": "heading-title",
			"label": "heading",
      "default": " Discover more in our FAQs"
  }, {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.collapsible_content.settings.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "center"
    },{
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 55
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 95
    }],
  "blocks": [
    {
      "name": "FAQ Item",
			"type": "FAQ",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Question title",
					"default": "Your question"
				},
        {
					"type": "textarea",
					"id": "answer_content",
					"label": "Answer content",
					"default": "Your answer content"
				},
			]
    }
	],
  "presets": [
    {
      "name": "Accordion"
    }
  ],
  "locales": {}
}
{% endschema %}
